* {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display';
}

.navbar {
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: 900;
  background: #EFA00B;
  color: #000;
}

.navbar-brand {
  font-size: 2rem;
}

body {
  background-color: black;
  color: white;
}

.container {
  margin: 40px auto;
  width: 90%;
}

.btn {
  margin: 0 auto;
  font-weight: bolder;
  background: #D65108;
  border: 2px solid #D65108;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
}

.btn:hover {
  background: #591F0A;  
  border-color:#591F0A;
  color: #fff;
  cursor: pointer;
}

.card {
  padding: 25px;
  border: 2px solid #ddd;
  background-color: black;
  color: white;
}